<!DOCTYPE html> {% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/admin.css"%}'>
    <title>Admin's Page</title>
</head>


<body>

    {% if user.username == 'admin' %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'admin_dashboard' %}">Admin-Dashboard</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
    </nav>

    <div class="child">
        <h2>{{child_details.first_name}}'s details</h2>
        <h3>First name: {{child_details.first_name}}</h3>
        <h3>Last name: {{child_details.last_name}}</h3>
        <h3>User name: {{child_details.username}}</h3>
        <h3>Password: {{child_details.password}}</h3>
        <h3>Insitution: {{child_details.institution}}</h3>
        <h3>Rating: {{child_details.rating}}</h3>

    </div>


    {% else %}
    <h1>NO ACCESS
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'login' %}">Back to Login</a>
    </h1> {% endif %}
</body>

</html>