<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/admin.css"%}'>

    <title>{{user.role}}'s Page</title>
</head>

<body>
    
    {% if user %}
    
        <div class = "fullwrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'admin_dashboard' %}">{{user.role}}-Dashboard</a>
                    </div>
                
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'games' %}">Games</a></li>
                    </ul>
                
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="rating">{{game}} Rating: {{categoryscore}} </li>
                    </ul>
                </div>
            </nav>
            <div class="institution">
                <div class="diffcontainer">
                    <h4 style="color: red">{{ errorMessage }}</h4>
                    <form method="post" action ="{% url 'difficulty' %}" >
                        {% csrf_token %}
                        <div style = "display: flex; flex-direction: row-reverse">
                                <label style = "margin: 10px" for = 'easy'>
                                    <input type="radio" class="btn btn-primary" name="difficulty" value="4" checked>
                                    <img src = '{% static "css/easy.png"%}'>
                                    <br>קל
                                </label>
                            
                                <label style = "margin: 10px" for = 'normal'>
                                    <input type="radio" class="btn btn-primary" name="difficulty" value="6">
                                    <img src = '{% static "css/medium.png"%}'>
                                    <br>בינוני
                                </label>
                            
                                <label style = "margin: 10px" for = 'hard'>
                                    <input type="radio" class="btn btn-primary" name="difficulty" value="8">
                                    <img src = '{% static "css/hard.png"%}'>
                                    <br>קשה
                                </label>

                        </div>
                        <br>
                            <input type="submit" class="btn btn-primary"value="שחק">
                    </form>
                </div>
            </div>
        {% comment %} </div>   {% endcomment %}
                    
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
        {% else %} 
        <div class = 'fullwrapper'>
            <h1>NO ACCESS
                <br>
                <br>
                <a class="btn btn-primary" href="{% url 'login' %}">Back to Login</a>
            </h1>
            <ul class="bg-bubbles-error">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    {% endif %}
</body>

</html>