<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/admin.css"%}'>
    <title>Admin's Page</title>
</head>


<body>

    {% if user.username == 'admin' %}
    
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'admin_dashboard' %}">Admin-Dashboard</a>
            </div>
            
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
        </nav>

        <div class="institution">
            <h2>Institution {{institution_name}}</h2>
            <div class="container">
                <form method="post" action ="{% url 'institutions' %}" >
                    {{form.as_p}}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary"value="הוסף משתמש">
                </form>
            </div>
        </div>
 
        <div class="institdrop">
            <div>
                {% if accounts%}
                    <form action="{% url 'child'%}" method="get">
                        {% csrf_token %}
                        <label for="child">Choose a child</label>
                        <select name="child" id="child">
                            {% for child in accounts %}
                                {% if child.role == 'Child' %}
                                    {% if child.institution == institution_name %}
                                        <option value={{child.username}}>{{child.first_name}} {{child.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary"value="Go">
                    </form>
                {% endif %}
            </div>
        </div> 

        {% else %} 
        <h1>NO ACCESS
            <br>
            <br>
            <a class="btn btn-primary" href="{% url 'login' %}">Back to Login</a>
        </h1>

        {% endif %}
</body>

</html>