<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/admin.css"%}'>
    <title>{{user.role}}'s Page</title>
</head>
<body>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if user.role == "Administrator" %}
            <a class="navbar-brand" href="{% url 'admin_dashboard' %}">{{user.role}}-Dashboard</a>
        {% else %}
            {% if user.role == "Kindergarden"%}
                <a class="navbar-brand" href="{% url 'institutions' %}">{{user.role}}-Dashboard</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'games' %}">{{user.role}}-Dashboard</a>
            {% endif %}
        {% endif %}        </div>
        
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>

         <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        </ul>
    </div>
    </nav>

    <h2>hello {{first_name}} {{last_name}}</h2>
    
</body>
</html>