table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(34, 31, 31);
    position: relative;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}